@import url("https://fonts.googleapis.com/css2?family=Basic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Basic", sans-serif;
}

:root {
  --color-1: #020e35;
  --color-gradient-1: linear-gradient(90deg, rgba(231, 53, 135, 1) 0%, rgba(140, 50, 240, 1) 100%);
}

h2 {
  font-size: 2.5rem;
}

/* ======= Header ============================================================== */

nav #navbar-brand {
  height: 126px;
  width: 100px;
  background: var(--color-gradient-1);
  position: absolute;
  top: 0;
}

nav .brand {
  background-color: var(--color-1);
  height: 120px;
  width: 100px;
  position: absolute;
  top: 0;
  margin: 0;
}

nav .brand img {
  margin: 30px auto;
}

nav #nav-brand {
  display: none;
  height: 72px;
  width: 80px;
  background: var(--color-gradient-1);
  position: absolute;
  top: 0;
}

nav .n-brand {
  background-color: var(--color-1);
  height: 65px;
  width: 80px;
  position: absolute;
  top: 0;
  margin: 0;
}

nav .n-brand img {
  margin: 9px auto;
}

nav .contact-us {
  color: white !important;
  background: var(--color-gradient-1);
}

nav a {
  margin: 0.5em 1em;
  color: black !important;
}

@media (min-width: 992px) {
  nav #nav-brand {
    height: 88px;
  }

  nav .n-brand {
    height: 80px;
  }

  nav .n-brand img {
    margin: 15px auto;
  }
}

/* ======= Hero ============================================================== */

#hero {
  margin-top: 100px !important;
}

#hero h1 {
  font-size: 5rem;
  margin-bottom: 0.5em !important;
}

#hero a {
  background: var(--color-gradient-1);
  color: white !important;
  text-decoration: none;
  padding: 1em 1.5em;
}

@media (max-width: 1400px) {
  #hero h1 {
    font-size: 4.3rem;
    margin-bottom: 0.5em !important;
  }
}

@media (max-width: 1200px) {
  #hero h1 {
    font-size: 3.6rem;
    margin-bottom: 0.5em !important;
  }
}

@media (max-width: 1200px) {
  #hero h1 {
    font-size: 3.6rem;
    margin-bottom: 0.5em !important;
  }
}

/* ======= About ============================================================== */

#about img {
  left: 0;
  margin: 0;
  padding: 0;
  height: 250px;
  width: 125px;
  z-index: -10;
}

#about div {
  margin: 70px 0;
}

#about h2 {
  margin-bottom: 1px;
}

#about span {
  display: block;
  width: 100px;
  height: 1px;
  background: var(--color-gradient-1);
  margin: auto;
}

#about p {
  margin-top: 10px;
}

/* ======= services ============================================================== */

#services {
  margin-bottom: -260px;
}

.slide .card {
  padding: 20px;
  border: none;
  border-radius: 0;
}

.slide img {
  height: 238px;
}
.slide .first {
  background-color: #fdf8e3;
}

.slide .second {
  background-color: #f0f3fa;
}

.slide .third {
  background-color: #feeff0;
}

.slide button .next {
  background: var(--color-gradient-1);
  border-radius: 100%;
  border: rgb(255, 255, 255) solid 2px;
  color: rgb(255, 255, 255) !important;
  padding: 23px 23px 20px 30px;
  font-size: 15px;
}

.slide .card a {
  background: var(--color-gradient-1);
  color: white !important;
  text-decoration: none;
  padding: 12px 40px;
  font-weight: 400;
  font-size: 12px;
}

.valuable-services span {
  display: block;
  width: 100px;
  height: 1px;
  background: var(--color-gradient-1);
  margin: auto;
}

/* ======= work ============================================================== */

.work span {
  display: block;
  width: 100px;
  height: 1px;
  background: var(--color-gradient-1);
  margin: auto;
}

#work {
  background-color: var(--color-1);
  padding-top: 380px;
}

#work h4 {
  font-size: 30px;
}

.work a {
  background: var(--color-gradient-1);
  color: white !important;
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
}

.work .custom {
  letter-spacing: 3px;
}

/* ======= Contact Us ============================================================== */

.contact-us .custom {
  color: #e73587;
}

.contact-us form .custom {
  width: 100%;
  border-radius: 2px;
  height: 48px !important;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  margin-bottom: 1.5em !important;
  padding: 5px;
}

.contact-us form .custom.area {
  height: 168px !important;
}

.contact-us .text-1 {
  font-size: 2vmax;
}

.contact-us .text-2 {
  font-size: 6vmax;
}

.contact-us form .custom-btn {
  background: var(--color-gradient-1);
  color: white !important;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 48px;
  border: none;
}

@media (max-width: 768px) {
  .contact-us .text-1 {
    font-size: 2rem;
  }

  .contact-us .text-2 {
    font-size: 4rem;
  }
}
